---
title: "Сапоги скорости"
slug: "boots-of-speed"
category: "предметы"
tags: ["одежда", "обувь", "артефакт"]
author: "Мэтт Клик"
description: "Сапоги прекрасно скроены, мягкие и податливые на ощупь, но при этом их мастерское качество делает их прочными. Надевать их поразительно легко, но при этом они плотно и удобно прилегают. А внимательные наблюдатели могут заметить на каждом из них вышитую гравировку, изображающую крыло с перьями."
---
