---
title: "Послушник"
slug: "acolyte"
category: "персонаж"
tags: ["религия", "человек", "город", "деревня"]
author: "Мэтт Сернетт"
description: "Молодой человек одет в простую серую робу, а бока его головы гладко выбриты. Оба эти признака указывают на его религиозный орден. Судя по мрачному выражению его лица и сутулой позе, можно предположить, что он не нашел особого утешения в служении своему богу."
---
