---
title: "Помощь"
slug: "aid"
category: "заклинание"
tags: ["преграждение", "жрец", "паладин"]
author: "Мэтт Клик"
description: "Зажав в руках полоску белой ткани, ты чертишь в воздухе символы и произосишь нужные слова. Ткань исчезает во вспышке света. Тепло зарождается в твоей груди и перетекает в конечности, становясь светом на кончиках пальцев. Ты чувствуешь окружающих тебя союзников и, произнеся последнее слово заклинания, наполняешь теплом и светом их сердца."
---
