---
title: "Яблоневый сад"
slug: "apple-orchard"
category: "сцены"
tags: ["природа", "ферма", "еда", "растения"]
author: "Мэган Гарнер"
description: "Фруктовый сад простирается насколько хватает глаз. Его деревья усыпаны маленькими белыми цветами, блестящими в полуденном свете. Аромат цветов благоухает на легком ветерке, предвещая сочные плоды, которые созреют осенью. Пчелы, бабочки и другие насекомые порхают в листьях яблонь и траве. Вдалеке виднеются вершины гор, еще покрытые зимним снегом.
"
---
