---
title: "Драук"
slug: "drider"
category: "существо"
tags: ["монстр", "дроу", "подземье", "злой"]
author: "Мэтт Клик"
description: "Вы слышите, как ноги... много ног, щелкают по камню, и несут массивное тело на многосуставных паучьих конечностях. В темноте, когда звук отражается от камня, трудно определить точное местоположение существа, которое преследует вас. Вы видите его тень на периферии, массивную и гротескную. А затем оно внезапно оказывается перед вами. Его черный панцирь блестит в тусклом свете, нависая над вами: нижняя половина — массивный арахнид, верхняя — искаженный гуманоид. Существо кричит от голода, или от боли, или ненависти — вы не можете определить от чего именно. Возможно, от всего сразу."
---
