---
title: "Старый колодец"
slug: "roadside-well"
category: "сцена"
tags: ["дорога", "лагерь", "постройка"]
author: "Мэтт Сернетт"
description: "Небольшая дорожка из плоских камней ведёт к низким стенам круглого каменного колодца. Колодец, должно быть, служил путешественникам десятилетиями. Интересно, кто его выкопал? Возможно, когда-то здесь была ферма? К колодцу прислонена деревянная крышка, а к ней прикреплены ведро и веревка."
---
