---
title: "Прочный мост"
slug: "sturdy-village-bridge"
category: "сцена"
tags: ["деревня", "река", "постройка"]
author: "Мэтт Сернетт"
description: "Прочный каменный мост стоит поперек реки, опорами уходя в водный поток. Река под мостом течёт быстро, но неглубоко, что говорит о том, что до постройки моста здесь, скорее всего, был простой брод. Превосходная каменная кладка и декоративная резьба на опорах сразу бросаются в глаза. Деревня должна быть процветающей, чтобы возвести и поддерживать такое искусное сооружение.
"
---
