---
title: "Кристалл времени"
slug: "time-crystal"
category: "предмет"
tags: ["артефакт"]
linked: [{ "title": "О кристалле времени", "slug": "time-crystal-notes" }]
author: "Алекс Фен"
description: "Этот переливающийся невиданными цветами камень определенно является кристаллом времени. Согласно легенде, силу таких камней можно использовать в качестве катализатора в устройствах для путешествий во времени. Однако, большинство исследователей сходятся на том, что магия кристаллов времени может быть приведена в действие только при использовании в сочетании временным каналом, таким как временной портал или временная воронка."
---
